/*Ideally we would download the font and store it in the repo, but just saving space by importing for the test*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

html, body {
    background-color: #E5E5E5;
    margin:0;
    padding:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    color: #2D426A;
    size: 14px;
}

.grid-container {
    display: grid;
    grid-template-areas: 'menu main main main main main main';
    grid-column-gap: 0px;
    height: calc(100vh - 80px)
}

.top-nav {
    background-color: #2D426A;
    width: 100%;
    height: 80px;
}

.sandwich-button-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 40px;
    width: 35px;
}

.sandwich-button-component {
    width: 35px;
    height: 5px;
    background-color: grey;
    margin-bottom: 6px;
}

.side-nav {
    grid-area: menu;
    display: block;
    position: relative;
    background-color: #FFFFFF;
    min-width: 200px;
    height: 100%;
}

.side-nav > a {
    text-decoration: none;
}

.side-nav-button {
    color: #2D426A;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    height: 50px;
    padding-left: 31px;
}

.v-align {
    display: flex;
    align-items: center;
}

.float-left {
    float: left;
}

.active {
    color: #5BD992;
    border-left: solid #5BD992 4px;
}

.main {
    grid-area: main;
    padding-left: 30px;
    height: max-content;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    padding-top: 22px;
    padding-left: 30px;
}

.dropdown {
    position: relative;
    background-color: #D8DDE5;
    height: 34px;
    width: 99px;
    padding-left: 13px;
    font-weight: 500;
    border-radius: 4px 0px 0px 4px;
}

.dropdown-carrot-container {
    position: relative;
    background-color: #D8DDE5;
    opacity: 0.7;
    height: 34px;
    width: 27px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

.dropdown-content {
    margin-top: 15px;
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    min-width: 99px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
    max-height: 400px;

}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* shamelessly copied from https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.plot-container {
    max-width: 1000px;
    margin-right: 30px;
}
