{% extends 'index.html'%}
{% block content %}
<div id="company-headcount" style="width:600px;height:450px;"></div>

<script>
    COMPANY_HEADCOUNT = document.getElementById('company-headcount');
    let months = JSON.parse("{{months | escapejs }}");
    let headcountsAll = JSON.parse("{{headcounts | escapejs}}");
    let data = []
    let companyNames = Object.keys(headcountsAll)
    for (let i = 0; i < companyNames.length; i++) {
        companyNames[i] = {
            x : months,
            y : headcountsAll[companyNames[i]]['headcount'],
            name: companyNames[i]
        }
        data.push(companyNames[i])
    }
    let layout = {
        title: {text: 'Headcount',
        font: {
            family: 'Roboto sans-serif',
            size: 24,
            weight: '500',
            color: '#2D426A, 100%'
        }
        }

    }
    COMPANY_HEADCOUNT = document.getElementById('company-headcount');

    Plotly.newPlot(COMPANY_HEADCOUNT, data, layout);
</script>


{% endblock content %}