{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Headcount</title>
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static '/js/script.js' %}" type="text/javascript"></script>
</head>

    <body>
    {# Main Content #}
        <div class="top-nav grid">
            {# top nav bar with sandwich menu #}
            <a href="#">
                <div class="sandwich-button-container" onclick="toggleDisplay('side-nav')">
                    <div class="sandwich-button-component"></div>
                    <div class="sandwich-button-component"></div>
                    <div class="sandwich-button-component"></div>
                </div>
            </a>
        </div>

        <div class="grid-container">
            <div class="side-nav grid" id="side-nav">
                {# side nav #}
                <a href="#">
                    <div class="side-nav-button v-align active">General Overview</div>
                </a>
            </div>
            <div class="main grid">
                <div id="main-header-container">
                    {# dropdown menu #}
                    <h1 class="float-left">Trends</h1>
                    <div id="dropdown-container" class="dropdown-container">
                        <div>
                            <div class="dropdown v-align float-left">
                                <span>Company</span>
                            </div>

                            <div type="button" class="dropdown-carrot-container dropbtn v-align float-left"
                                 onclick="toggleDisplay('dropdown-content'), createDropdownClickListener(), iconChange('dropdown-content')">
                                <span id='icon' class="arrow down"></span>
                            </div>
                        </div>
                        <br>

                        <div class="dropdown-content" id="dropdown-content"></div>
                    </div>
                </div>
                <br><br>

            <div class="plot-container clearfix">
                {# plot chart #}
                <div id="plot"></div>
            </div>
            </div>
        </div>

        <script>
            /**
             * create dropdown and parse data to scripts.js
             */
            let companyData = JSON.parse("{{ companyData | escapejs }}");
            populateDropdown()
            parseSelectedCompanyData()
        </script>

    </body>

</html>