{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/main2.css">
    <title>Title</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static '/js/script.js' %}" type="text/javascript"></script>


</head>
<body>
    <div class="top-nav">
        <a href="#" onclick="toggleDisplay('side-nav')">
            <div class="sandwich-button-container">
                <div class="sandwich-button-component"></div>
                <div class="sandwich-button-component"></div>
                <div class="sandwich-button-component"></div>
            </div>
        </a>
    </div>

    <div class="container">
        <div class="side-nav" id="side-nav">
            <a href="#">
                <div class="side-nav-button v-align active">General Overview</div>
            </a>
        </div>
        <div>
        <div class="main">
            <div id="main-header-container">
                <div class="trend">
                <h1 class="float-left">Trends</h1>
                </div>

                <div id="dropdown-container" class="dropdown-container">
                    <div class="dropdown v-align float-left">
                        <span>Company</span>
                    </div>

                    <div class="dropdown-carrot-container v-align float-left">
                        <i class="arrow down"></i>
                    </div>
                </div>
            </div>

        </div>
        </div>
        <div>
        <div class="chart">
        {% block content %}{% endblock %}
        </div>
        </div>
    </div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</body>
</html>